*{
    Border: 0;
    Margin: 0;
    Padding: 0;
    font-family: "Raleway", sans-serif;

}

/* Fuente */
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Color de fondo de las secciones */

.quienessomos, .destacados, .contacto{
    background-color: #000000;
}

/* Nav */
a.navbar-brand img{
    height: 1rem;
}

a.navbar-brand{
    font-size: 15px;
    color:#ffffff;
}

nav{
    font-size: 13px;
}

a.nav-link{
    opacity: 0.7;
}

/* Head-Carrusel */

.imagenes-carrusel{
    height: 748px;
    width: 1530px;
}

/* Seccion ¿Quienes somos? */

.quienessomos p{
    color: #ffffff;
    font-size: 15px;
}
.iconos{
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #0dcaf0;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-top: 2px;
}

.quienessomos h3{
    color: #ffffff;
}

/* Sección Destacados */

.destacados h3{
    color: #ffffff;
}

.card-body{
    background-color:#0dcaf0 ;
}

.card-img-top{
    height: 200px;
}

.card-text{
    font-size: 15px;
}

.card-text, .card-title {
    color: #ffffff!important;
}

/* Seccion Contacto */

.contacto h3{
    color: #ffffff;
}

.form-label{
    color: #ffffff;
}

#boton{
    background-color: #0dcaf0;
    color: #ffffff;
}

#boton:hover{
    background-color: #095766;
}

/* Footer */

footer{
    padding: 0.4rem;
    background-color: #0dcaf0;
}

.footer-text{
    padding-top: 1rem;
    padding-left: 15rem;
    font-size: 1rem;
    color: #ffffff;
}

.iconos2{
    padding-top: 0.6rem;
    display: flex;
    font-size:1.5rem;
}

.fa-brands{
    color: #ffffff;

}

@media (max-width: 566px){

    /* Carrusel */
    .imagenes-carrusel{
        width: 435px;
        height: 200px;
    }

    /* Seccion Quienes somos */
    .quienessomos{
        display: none;
    }

    /* Destacados */
    .card{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .card-text, .card-title {
        text-align: center;
    }

    /* Contacto */
    .contacto{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* footer */
    .footer-text{
        padding-left: 1rem;
    }
}