*{
    Border: 0;
    Margin: 0;
    Padding: 0;
    font-family: "Raleway", sans-serif;

}

/* Fuente */
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Color de fondo de las secciones */

.quienessomos, .destacados, .contacto{
    background-color: #000000;
}

/* Nav */
a.navbar-brand img{
    height: 1rem;
}

a.navbar-brand{
    font-size: 15px;
    color:#ffffff;
}

nav{
    font-size:13px;
}

a.nav-link{
    opacity:0.7;
}

/* Head-Carrusel */

.imagenes-carrusel{
    height: 850px;
    width: 1530px;
}


/* Sección ¿Quienes somos? */

.quienessomos p{
    color: #ffffff;
}
.iconos{
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #0dcaf0;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-top: 2px;
}

.quienessomos h3{
    color: #ffffff;
}

/* Sección Destacados */

.destacados h3{
    color: #ffffff;
}

.card-body{
    background-color:#0dcaf0 ;
}
.card-img-top{
    height: 200px;
}
.card-text, #titulo-card {
    color: #ffffff;
}

/* Seccion Contacto */

.contacto h3{
    color: #ffffff;
}

/* Footer */

footer{
    padding: 1.5rem;
    background-color: #0dcaf0;
}

.form-label{
    color: #ffffff;
}

#boton{
    background-color: #0dcaf0;
    color: #ffffff;
}




@media (max-width: 566px){

    /* Carrusel */
    .imagenes-carrusel{
        width:435px;
        height:200px;
    }

    /* Seccion Quienes somos */
    .quienessomos{
        display:none;
    }

    /* Destacados */
    .card{
        margin-left:1rem;
        margin-right:1rem;
        margin-bottom:1rem;
    }

    /* Contacto */
    .contacto{
        padding-left:1rem;
        padding-right:1rem;
    }
}